@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");

body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
}

h2 {
  font-weight: 700 !important;
  text-transform: uppercase;
}

h1 {
  font-weight: 700 !important;
  text-transform: uppercase;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-page {
  width: 500px !important;
  height: 500px !important;
  object-fit:cover;
}

.img-thumbnail {
  width: 300px !important;
  height: 300px !important;
  object-fit:cover;
}

.button {
  background-color: #2e1760 !important;
  border: none !important;
  border-radius: 50px !important;
}

.button:hover {
  background-color: rgb(46 23 96/40%) !important;
}

a {
  text-decoration: none !important;
  color: white !important;
}

.link:hover {
  text-decoration: underline !important;
  color: white !important;
}

.glossary {
  color: #2e1760;
}

input {
  border-radius: 50px;
  color: #2e1760;
  border-color: #2e1760;
}

.navbar{
  background-color: #2e1760;
  text-decoration: none;
}

a.navbar{
  color: white;
  text-decoration: none;
}